body {
    font-family: 'Bebas Neue', cursive;
}

.jumbotron {
    background-color: rgb(255, 255, 255);
}

.Apptitle {
    color: rgb(255, 255, 255);
    font-size: 70px;
    
    
}

#taskform {
    background-color: rgb(239, 239, 239);
    color: rgb(191, 191, 191);
    border-style: none;
    border-bottom-style: solid;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;  

}

.row {
    padding-top: 30px;
}


.button {
    display: flex; 
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: none;
    flex-direction: row
  }
   
i {
    color:rgb(192, 193, 193);
    font-size: 40px;
    margin: auto;
    align-items: center; 
  }
  

